<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="cabecera">
    <meta charset="UTF-8" />
    <title th:text="${titulo}">Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <link th:href="@{/css/estilos.css}" rel="stylesheet">
</head>
<body>
<nav class="navbar fixed-top navbar-dark bg-dark" th:fragment="menu">
    <a class="navbar-brand" href="#">Fixed top</a>
</nav>

<footer th:fragment="footer">
    FOOTER
</footer>
</body>
</html>